.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: var(--navbar-full-height);
}

.image-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.image {
  flex-grow: 1;
  min-height: 400px;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-outer-wrapper {
  text-align: center;
  flex-shrink: 0;
  width: auto;
}

.content-inner-wrapper {
  color: var(--dark);
  padding: 0;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-homepage);
  font-weight: var(--fw-extrabold);
  line-height: var(--solid);
  margin: 0;
  color: var(--text-light);
  text-align: left;
}

.title > span {
  background-color: var(--primary);
  display: inline;
  padding: 0;
  line-height: 1.38;
  -webkit-box-shadow: 0.8rem 0 0 var(--primary), -0.8rem 0 0 var(--primary);
  box-shadow: 0.8rem 0 0 var(--primary), -0.8rem 0 0 var(--primary);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.container hr  {
  width: 80%;
  color: var(--primary);
  outline: none;
  border: 0.5px solid var(--primary);
  margin: var(--space-lg) 10%;
}

.content {
  font-size: 1.2em;
  margin: 0;
}

@media (min-width: 768px) {
  .content {
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .content-outer-wrapper {
    max-width: 75%;
  }
}

@media (min-width: 1337px) {
  .content-outer-wrapper {
    max-width: 50%;
  }
}
