.container {
  padding-top: var(--navbar-full-height);
}

.hero {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: var(--size-medium-max-width);
  min-height: 200px;
  padding: var(--space-3xl) 0 var(--size-gutter);
  position: relative;
  color: white;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.details {
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: clip;
  word-wrap: break-word;
  padding: 0 var(--size-gutter);
}

.banner .details {
  left: 0;
  max-width: 40rem;
  width: 85%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: absolute;
  overflow: visible;
  word-wrap: normal;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 480px) {
  .details {
    width: 85%;
  }

  .banner .details {
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .banner .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 80%;
  }

  .details {
    left: var(--size-gutter);
    padding: 0 var(--size-gutter) 0 0;
  }

  .banner .details {
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}

/* VARIANTS. Likely to be removed */
.banner {
  --details-offset: 20px;
  flex-direction: column;
  width: 95%;
}

.banner .details {
  padding: var(--space-xl) var(--size-gutter);
  width: auto;
  position: relative;
}

.banner .title {
  margin: 0;
}

.banner .image {
  border-radius: 10px;
  margin: 0 0 1rem 0;
  height: auto;
}

.headline .details {
  background: none;
}

/* TODO: This shouldn't be here, ideally should be a component with some variant styles. */
.detail-pill {
  position: relative;
  display: block;
  top: -1rem;
  left: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: var(--text-2xl);
  padding: 3px 25px;
  background-color: var(--tertiary);
  color: white;
  width: fit-content;
}

/* For "Rescheduled" */
.detail-pill--rescheduled {
  background-color: darkorange;
  color: white;
  text-align: center;
  width: 100%;
}

/* For "Fully Booked" */
.detail-pill--booked {
  background-color: darkred;
  color: white;
}

/* For "Cancelled" */
.detail-pill--cancelled {
  background-color: red;
  color: white;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .banner .image {
    width: 80%;
    margin: 1rem auto;
  }
}

@media (min-width: 1024px) {
  .banner {
    flex-direction: row;
  }

  .banner .details {
    padding: var(--space-2xl) 0 var(--space-2xl) var(--size-gutter);
    width: 45%;
    left: 0;
    bottom: var(--details-offset);
  }

  .banner .image {
    height: auto;
    width: 55%;
    max-height: 560px;
    margin: 0 0 0 auto;
  }

  .detail-pill {
    top: calc(-1 * var(--space-2xl));
    left: calc(-1 * var(--space-2xl));
  }
}

@media (min-width: 1337px) {
  .banner {
    width: 100%;
  }

  .banner .details {
    padding: var(--space-2xl) 0 var(--space-2xl) var(--size-gutter);
    margin-left: var(--size-gutter);
  }

  .banner .image {
    right: var(--space-xl);
    margin: 0;
  }
}
