.container {
  display: block;
  display: flex;
  flex-direction: row;
  gap: .75rem;
  margin-top: 1rem;
}

.container > a {
  line-height: 1;
  color: var(--tertiary);
  --social-link-anim-time: 0.2s;
  transition: color var(--social-link-anim-time) ease-in-out;
  -moz-transition: color var(--social-link-anim-time) ease-in-out;
  -webkit-transition: color var(--social-link-anim-time) ease-in-out;
}

.container > a:hover,
.container > a:focus {
  color: var(--primary);
}

@media (min-width: 768px) {
  .container {
    margin-top: 0;
  }
}
